<div class="wrapper translation-container">

  <h1><%= @translation.allergy.name %></h1>
  <h2><%= @translation_warning %><i class="fas fa-exclamation-triangle"></i></h2>
  <h3><%= @translation_message %></h3>
  <h2><%= @translation.name %></h2>

  <% unless @translation.allergy.photo.nil? %>
  <%= cl_image_tag @translation.allergy.photo, height: 300, width: 300, crop: :fit, class: "allergy-image hidden" %>
  <label class="switch">
    <input type="checkbox" class="toggle-switch">
    <span class="slider round"></span>
  </label>
  <% end %>


  <%#= link_to "Back", user_path(current_user), class: "btn btn-info previous-country" %>

</div>
