<div class="wrapper translation-container">

  <h1><%= @translation.allergy.name %></h1>

  <div class="translate-info">
    <h2><i class="fas fa-exclamation-triangle"></i><%= @translation_warning %></h2>
    <h3><%= @translation_message %></h3>

    <div class="all-translations">
      <div class="translation-image">
        <h2 class="translation-name"><%= @translation.name %>
          <% if !@translation.allergy.photo.file.nil? %>
          <label class="switch">
            <input type="checkbox" class="toggle-switch">
            <span class="slider round"></span>
          </label>
        </h2>
      </div>
      <%= cl_image_tag @translation.allergy.photo, height: 300, width: 300, crop: :fit, class: "allergy-image hidden fadein" %>
      <% else %>
    </h2>
  </div>
  <% end %>
</div>
</div>
</div>
