<div class="container translation-container">

  <h4><%= @translation.allergy.name %></h4>
  <h2><%= @translation_warning %><i class="fas fa-exclamation-triangle"></i></h2>
  <h3><%= @translation_message %></h3>
  <h2><%= @translation.name %></h2>

  <%= link_to "back", user_path(current_user) %>

</div>
