<div class="wrapper user-container">

  <h1>My Allergies</h1>

  <!-- let user change language if country has more than one -->
  <div class="user-info">
    <% if @user.country_id.nil? && @user.language_id.nil? %>
    <h3>Chose a country or a language to be able to translate your <%= @user_allergies.nil? || @user_allergies.length == 1 ? "allergy" : "allergies" %></h3>

    <div class="change-language">
      <%= link_to "Country", countries_path, class: "select-btn button" %>
      <%= link_to "Language", languages_path, class: "select-btn button" %>
    </div>

    <% elsif @user.country_id.nil? %>

    <% @language = @user.language %>

    <div class="change-language">
      <%= link_to "Choose a Country", countries_path, class: "change-btn button" %>
      <%= link_to "Change Language", languages_path, class: "change-btn button" %>
    </div>

    <h2><%= @language.name %></h2>

    <% else %>

    <% @country = @user.country %>
    <% country_name = @country.name.split(/ \(.+\)/) %>
    <% country_language = @country.name.scan(/\(.+\)/) %>
    <% @language = Language.find_by_code(@country.language_code) %>

    <div class="change-language">
      <%= link_to "Change Country", countries_path, class: "change-btn button" %>
      <%= link_to "Change Language", languages_path, class: "change-btn button" %>
    </div>

    <% if country_language.empty? %>
    <h2><%= @country.name %></h2>
    <h4>(<%= @language.name %>)</h4>
    <% else %>
    <h2><%= country_name[0] %></h2>
    <h4><%= country_language[0] %></h4>
    <% end %>

    <% end %>
  </div>

  <!-- show user allergies in a list -->

  <div class="user-allergies-list">

    <%= link_to(allergies_path) do %>
    <% if @user_allergies.empty? %>
    <h2 class="add-text fadein">ADD ALLERGY</h2>
    <% end %>
    <div class="add-allergy">
      <i class="fas fa-plus btn"></i>
    </div>
    <% end %>

    <ul>
      <% i = 0 %>
      <% @user_allergies.each do |user_allergy| %>
      <% allergy = Allergy.find(user_allergy.allergy.id) %>

      <% if @user.country_id.nil? && @user.language_id.nil? %>
      <li class="user-allergy">
        <h3 class=link-to-translation"><%= allergy.name %></h3>
        <%= link_to user_allergy_path(allergy), method: :delete, class: "cross" do %>
        <i class="fas fa-times"></i>
        <% end %>
      </li>

      <% else %>

      <% @translation = Translation.find_by_allergy_and_language(allergy.id, @language.id, @user.message).first %>
      <li class="user-allergy">
        <% if @translation %>
        <% i += 1 %>
        <%= link_to allergy.name, translation_path(@translation), class: "link-to-translation"%>
        <% else %>
        <%= link_to allergy.name, language_allergy_path(@language, allergy) + "/#googtrans(original|#{@language.code})", class: "link-to-translation" %>
        <% end %>
        <%= link_to user_allergy_path(allergy), method: :delete, class: "allergy-cross" do %>
        <i class="fas fa-times"></i>
        <% end %>
      </li>

      <% end %>
      <% end %>

    </ul>
    <% if i == @user_allergies.length %>
    <%= link_to "Translate All", language_translations_path(@language), class: "translate-all button" %>
    <% end %>
  </div>

  <div class="emergency-contacts-link">
    <%= link_to "Emergency Contacts", user_contacts_path(@user) %>
  </div>
</div>
