<div class="navbar">
  <!-- Logo -->
  <div class="navbar-brand">
  <%= link_to root_path do %>
    <i class="fas fa-heartbeat fa-2x navbar-logo"></i>
    <p>Allergies Translate</p>
  <% end %>
  </div>

  <% if user_signed_in? %>
  <!-- Dropdown -->
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
      <%# unless current_user.user_countries.empty? %>
      <li>
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-allergies"></i>
          <h6>My Allergies</h6>
        <% end %>
      </li>
      <%# end %>
      <li>
        <%= link_to user_contacts_path(current_user) do %>
          <i class="fas fa-address-book"></i>
          <h6>Emergency Contacts</h6>
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_path(current_user) do %>
          <i class="fa fa-cog"></i>
          <h6>
          Settings
          </h6>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          <h6>
          Sign Out
          </h6>
        <% end %>
      </li>
    </ul>
  </div>

  <% else %>
    <!-- Login & Sign Up links (when logged out) -->
    <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-item navbar-link" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link" %>
  <% end %>
</div>

