<div class="wrapper contacts-container">
  <h1>Emergency Contacts</h1>

  <div class="contacts fadein">
    <% @contacts.each do |contact| %>
    <% noSpaceName = contact.name.gsub(" ", "") %>
    <div class="contact-info info-<%= noSpaceName%> fadein">
      <div class="contact">

        <i class="fas fa-pencil-alt edit-<%=noSpaceName%>"></i>
        <h3 class="contact-name contact-name-<%=noSpaceName%>"><%= contact.name %></h3>
        <h4 class="contact-relationship-<%=noSpaceName%>"><%= contact.relationship %></h4>
        <p class="contact-email-<%=noSpaceName%>"><%= contact.email %></p>
        <p class="contact-number-<%=noSpaceName%>"><%= contact.phone_number %></p>

        <%= link_to user_contact_path(@user, contact), method: :delete, class: "cross" do %>
        <i class="fas fa-times"></i>
        <% end %>
      </div>
    </div>
    <div class="contact-form form-<%= noSpaceName %> hidden fadein">
      <%= form_for([@user, contact], method: :patch) do |f| %>
      <%= f.text_field :name,
      class: "form-control contact-name-edit-#{noSpaceName} field new-contact-field" %>

      <% if flash[:update_not_valid] %>
      <% flash[:update_not_valid].each do |k, value| %>
      <% if k == "name" %>
      <div class="alert alert-error"><%= value[0] %></div>
      <% end %>
      <% end %>
      <% end %>

      <%= f.text_field :relationship,
      class: "form-control contact-relationship-edit-#{noSpaceName} field new-contact-field" %>

      <%= f.text_field :email,
      class: "form-control contact-email-edit-#{noSpaceName} field new-contact-field" %>

      <% if flash[:update_not_valid] %>
      <% flash[:update_not_valid].each do |k, value| %>
      <% if k == "email" %>
      <div class="alert alert-error"><%= value[0] %></div>
      <% end %>
      <% end %>
      <% end %>

      <%= f.text_field :phone_number,
      class: "form-control contact-number-edit-#{noSpaceName} field new-contact-field" %>

      <% if flash[:update_not_valid] %>
      <% flash[:update_not_valid].each do |k, value| %>
      <% if k == "phone_number" %>
      <div class="alert alert-error"><%= value[0] %></div>
      <% end %>
      <% end %>
      <% end %>

      <div class="form-button">
        <p class="edit-cancel-<%= noSpaceName %> fadein button">Cancel</p>
        <%= f.submit "Save", class: "fadein contact-edit-submit-#{noSpaceName} button" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="new-contact-button fadein">
    <% if @contacts.empty? %>
    <h2 class="add-text">ADD NEW CONTACT</h2>
    <% end %>
    <div class="add-contact">
      <i class="fas fa-plus btn plus-sym"></i>
    </div>
  </div>

  <div class="new-contact-form hidden fadein">
    <%= form_for([@user, Contact.new]) do |f| %>
    <%= f.text_field :name, placeholder: "Name*", class: "field new-contact-field" %>

    <% if flash[:new_not_valid] %>
    <% flash[:new_not_valid].each do |k, value| %>
    <%# flash[:alert] ||= [] %>
    <%# flash[:alert] << value[0] %>
    <% if k == "name" %>
    <div class="alert alert-error"><%= value[0] %></div>
    <% end %>
    <% end %>
    <% end %>

    <%= f.text_field :relationship, placeholder: "Relationship", class: "field new-contact-field" %>
    <%= f.text_field :email, placeholder: "Email*", class: "field new-contact-field" %>

    <% if flash[:new_not_valid] %>
    <% flash[:new_not_valid].each do |k, value| %>
    <% if k == "email" %>
    <div class="alert alert-error"><%= value[0] %></div>
    <% end %>
    <% end %>
    <% end %>

    <%= f.text_field :phone_number, placeholder: "Phone Number*", class: "field new-contact-field" %>

    <% if flash[:new_not_valid] %>
    <% flash[:new_not_valid].each do |k, value| %>
    <% if k == "phone_number" %>
    <div class="alert alert-error"><%= value[0] %></div>
    <% end %>
    <% end %>
    <% end %>

    <div class="form-button fadein">
      <p class="add-cancel button">Cancel</p>
      <%= f.submit "Add Contact", class: "button" %>
    </div>
    <% end %>
  </div>

</div>
