<div class="container contacts-container">

  <div>
    <% @contacts.each do |contact| %>
    <h1><%= contact.name %></h1>
    <h3><%= contact.relationship %></h3>
    <p><%= contact.email %></p>
    <p><%= contact.phone_number %></p>
    <% end %>
  </div>

  <%= link_to "Back", :back, class: "btn btn-info" %>

</div>
