<!-- <div class="wrapper">
</div> -->

<div class="wrapper loading-animation">
  <div class="loader"></div>

  <div class="allergy-container">
    <h4 class="english-name notranslate"><%= @allergy.name %></h4>
    <h2 class="warning">Warning!<i class="fas fa-exclamation-triangle"></i></h2>
    <h3 class="message"><%= @user.message %></h3>
    <h2 class="translated-name"><%= @allergy.name %></h2>

    <%= link_to "Back", user_path(current_user), class: "btn btn-info previous-country" %>

    <%= form_tag language_allergy_translations_path(@language, @allergy), class: "update-translation hidden", id: "form", method: :post do %>
    <%= text_field_tag :name,
    params[:name],
    class: "form-control name-input" %>
    <%= text_field_tag :message,
    params[:message],
    class: "form-control message-input" %>
    <%= text_field_tag :original_message,
    params[:original_message], value: @user.message,
    class: "form-control message-input" %>
    <% end %>
  </div>

   <!-- <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
  </script>

  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 -->
</div>
